{% block stylesheet %}
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/floating-labels.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    {{form_start(form, {'attr': {'class':'form-signin'}})}}
      <div class="text-center mb-4">
    {# <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> #}
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
    
  </div>
    

  <div class="form-label-group">
    
    {{ form_widget(form.username, {'attr' : {'class':'form-control','id' : '_username', 'placeholder': 'Nom'}})}}
    <label for="inputUsername">Nom</label> 
  </div>
  <div class="form-label-group">
    
    {{ form_widget(form.firstname, {'attr' : {'class':'form-control','id' : '_firstname', 'placeholder': 'Prénoms'}})}}
    <label for="inputFirstname">Prénoms</label>
  </div>
    <div class="form-label-group">
    
    {{ form_widget(form.email, {'attr' : {'class':'form-control','id' : '_email', 'placeholder': 'Adresse Email'}})}}
    <label for="inputEmail">Adresse Email</label>
  </div>
  <div class="form-label-group">
    
    {{ form_widget(form.birthday, {'attr' : {'class':'form-control','id' : '_Birthday', 'placeholder': 'Date de naissance'}})}}
    <label for="inputEmail">Date de naissance</label>

  </div>
  <div class="form-label-group">
    
    {{ form_widget(form.password, {'attr' : {'class':'form-control','id' : '_password', 'placeholder': 'Mot de passe'}})}}
    <label for="inputPassword">Mot de passe</label>
  </div>
  <div class="form-label-group">
    
    {{ form_widget(form.confirm_password, {'attr' : {'class':'form-control','id' : '_cpassword', 'placeholder': 'Confirmer votre mot de passe'}})}}
    <label for="inputCPassword">Confirmer votre mot de passe</label>
  </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Inscription</button>
      <div class="text-center mb-4">
    
    <a href="{{path('security_registration')}}">Se connecter</a>
    
  </div>
    {{form_end(form)}}


    
    {# <p>déja inscrit*</p> #}
{% endblock %}