{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{form_start(form)}}
    {{form_row(form.username,{'label': 'Nom d\'utilisateur', 'attr' : {'placeholder' : 'Nom d\'utilisateur'} })}}
    {{form_row(form.email,{'label': 'E-mail', 'attr' : {'placeholder' : 'E-mail'} })}}
    {{form_row(form.password,{'label': 'Mot de passe', 'attr' : {'placeholder' : 'Mot de passe'} })}}
    {{form_row(form.confirm_password,{'label': 'Confirmer le Mot de passe', 'attr' : {'placeholder' : 'Confirmation Mot de passe'} })}}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{form_end(form)}}
    {# <p>déja inscrit*</p> #}
{% endblock %}